/* QORA FON + OVERLAY */
.welcome-screen {
  position: fixed;
  inset: 0;
  background: #1c1c1e; /* to‘liq qora */
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* 🔲 VIDEO WRAPPER – 150px tortburchak */
.video-box {
  width: 250px;
  height: 250px; /* agar tortburchak balandroq bo‘lsin desang 120px qil */
  border-radius: 25px; /* xohlasang olib tashla */
  overflow: hidden;
  
}

/* 🎥 VIDEO */
.welcome-video {
  width: 100%;
  height: 100%;
  border-radius: 25px; /* xohlasang olib tashla */

  object-fit: cover; /* 🔥 tortburchakni to‘liq to‘ldiradi */
}
